@* <!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Продукти</title>
    <script src="/js/products.js"></script>
</head>
<body>
    <h2>🛒 Продукти</h2>
    <ul id="product-list"></ul>
    <a href="/Product/Create">Додати новий продукт</a>
</body>
</html>
 *@



<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Продукти</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/products.js" defer></script>
</head>
<body>
    <header>
        <h2>🛒 Продукти</h2>
        <a href="/Product/Create">Створити новий продукт</a>
    </header>
    <main>
        <ul id="product-list"></ul>
    </main>
</body>
</html>